<%- include ('../partials/header') %>
    <%- include ('../partials/navbar') %>

        <body>
            <div class="container mt-2">
                <div class="card">
                    <div class="card-header"
                        style="display: flex; flex-direction: row;  justify-content: space-between;">
                        <h5 class="mb-2">
                            <%= formulario.descricao %>
                        </h5>
                        <h5>Inscrições de <%= formulario.data_inicio %> até <%= formulario.data_fim %>
                        </h5>
                    </div>
                    <div class="card-body" style="display: flex; flex-direction: column;">
                        <div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="nome" placeholder="Digite seu nome"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" id="telefone" placeholder="Digite seu telefone"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control" id="dataNascimento"
                                    placeholder="Data de nascimento" onchange="verificarIdadade()" required>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" id="telefoneResponsavel" name="telRespondavel"
                                    placeholder="Telefone do responsável" style="display: none;">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="nomeResponsavel" name="nomeRespondavel"
                                    placeholder="Nome do responsável" style="display: none;">
                            </div>
                            <div class="form-group ">
                                <span>Endereço: </span>
                                <input type="text" class="form-control mb-2" id="rua" placeholder="Rua" required>
                                <input type="number" class="form-control mb-2" id="numero" placeholder="Número"
                                    required>
                                <input type="text" class="form-control mb-2" id="bairro" placeholder="Bairro" required>
                                <input type="text" class="form-control mb-2" id="cidade" placeholder="Cidade" required>
                                <input type="text" class="form-control mb-2" id="estado" placeholder="Estado" required>
                            </div>

                            <div>
                                <input type="text" class="form-control mb-2" id="telefone-emergencia"
                                    placeholder="Telefone de Emergência" required>
                                <input type="text" class="form-control mb-2" id="lider" placeholder="Nome do líder"
                                    required>
                                <input type="text" class="form-control mb-2" id="bairro-congregacao"
                                    placeholder="Bairro da congregação" required>
                            </div>

                            <div style="float: right;">
                                <span class="fw-bolder fs-5">Deseja adicionar mais pessoas?</span>
                                <input class="btn btn-success rounded-0" type="button" value="SIM" onclick="criarInscrito('sim')">
                                <input class="btn btn-success rounded-0" type="button" value="NÃO" onclick="criarInscrito('nao')">
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-dark w-100 mt-1 fw-bolder"
                                onclick="salvar()">FINALIZAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </body>
        <script>

            let inscrito = {};
            let inscritos = [];

            function criarInscrito(criarNovamente) {
                inscrito.nome = document.getElementById('nome').value;
                inscrito.email = document.getElementById('email').value;
                inscrito.telefone = document.getElementById('telefone').value;
                inscrito.dataNascimento = document.getElementById('dataNascimento').value;
                inscrito.rua = document.getElementById('rua').value;
                inscrito.numero = document.getElementById('numero').value;
                inscrito.bairro = document.getElementById('bairro').value;
                inscrito.cidade = document.getElementById('cidade').value;
                inscrito.estado = document.getElementById('estado').value;
                inscrito.telefoneEmergencia = document.getElementById('telefone-emergencia').value;
                inscrito.lider = document.getElementById('lider').value;
                inscrito.bairroCongregacao = document.getElementById('bairro-congregacao').value;
                inscrito.telefoneResponsavel = document.getElementById('telefoneResponsavel').value;
                inscrito.nomeResponsavel = document.getElementById('nomeResponsavel').value;
                inscritos.push(inscrito);
                if (criarNovamente === 'sim') {
                    limparCampos();
                }else{
                    salvar();
                }
            }

            function limparCampos() {
                document.getElementById('nome').value = "";
                document.getElementById('email').value = "";
                document.getElementById('telefone').value = "";
                document.getElementById('dataNascimento').value = "";
                document.getElementById('rua').value = "";
                document.getElementById('numero').value = "";
                document.getElementById('bairro').value = "";
                document.getElementById('cidade').value = "";
                document.getElementById('estado').value = "";
                document.getElementById('telefone-emergencia').value = "";
                document.getElementById('lider').value = "";
                document.getElementById('bairro-congregacao').value = "";
                document.getElementById('telefoneResponsavel').value = "";
                document.getElementById('nomeResponsavel').value = "";
            }

            function adicionarInscrito(inscrito) {
                inscritos.push(inscrito);
            }

            function verificarIdadade(dataNasc) {
                const dataNascimento = document.getElementById("dataNascimento").value;
                const dataNascimentoObj = new Date(dataNascimento);
                const dataAtual = new Date();
                const idade = dataAtual.getFullYear() - dataNascimentoObj.getFullYear();
                const telResponsavel = document.getElementById('telefoneResponsavel');
                const nomeResponsavel = document.getElementById('nomeResponsavel');

                if (idade >= 18) {
                    telResponsavel.style.display = 'none';
                    nomeResponsavel.style.display = 'none';
                    nomeResponsavel.removeAttribute('required');
                    telResponsavel.removeAttribute('required');
                } else {
                    telResponsavel.style.display = 'Block';
                    nomeResponsavel.style.display = 'Block';
                    nomeResponsavel.setAttribute('required', 'true');
                    telResponsavel.setAttribute('required', 'true');
                }
            }
            function verificarCamposPreenchidos() {
                const campos = [
                    'nome',
                    'email',
                    'telefone',
                    'dataNascimento',
                    'rua',
                    'numero',
                    'bairro',
                    'cidade',
                    'estado',
                    'telefone-emergencia',
                    'lider',
                    'bairro-congregacao'
                ];

                for (const campo of campos) {
                    const valor = document.getElementById(campo).value.trim();
                    if (valor === '') {
                        alert(`O campo ${campo} deve ser preenchido.`);
                        return false;
                    }
                }

                return true;
            }


            function salvar() {

                if (verificarCamposPreenchidos()) {
                    const url = '/finalizarPagamento';
                    const data = {
                        inscritos
                    };

                    const options = {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data),
                    };

                    fetch(url, options)
                        .then(response => response.json())
                        .then(() => {
                            location.reload();
                        })
                        .catch(error => {
                            console.error('Erro ao fazer a requisição:', error);
                        });
                }

            }


        </script>
        <%- include ('../partials/footer') %>