<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

    <div style="display: flex; flex-direction: row; align-items: center; flex-wrap: wrap; " class="w-100 mt-3">
        
        <div class="mb-3 w-100 p-2">            
            <input type="text"  placeholder="Pesquisar inscrito" class="form-control float-right" id="nomeBusca" oninput="buscarPorNome()">
        </div>
        
        <div id="resultados" style="display: flex; flex-wrap: wrap; justify-content: center;"></div>
        <div style="display: flex; flex-wrap: wrap;">
             <% inscritos.forEach((inscrito) => { %>
            <div class="card m-2" style="width: 350px; height: 380px; overflow: scroll;"  >
                <div class="card-header bg-dark text-light">
                    <span>  <%= inscrito.nome %> </span>
                </div>
                <div class="card-body">
                    <ul style="list-style: none; " class="m-0 p-0">
                        <li> <span style="font-weight: bold;">Genero:</span> <%= inscrito.genero %> </li>
                        <li> <span style="font-weight: bold;">E-email:</span> <%= inscrito.email %> </li>
                        <li> <span style="font-weight: bold;">Telefone:</span> <%= inscrito.telefone %> </li>
                        <li> <span style="font-weight: bold;">Bairro:</span> <%= inscrito.bairro %>, <%= inscrito.cidade  %> </li>
                        <li> <span style="font-weight: bold;">Rua:</span> <%= inscrito.rua %>, <%= inscrito.numero %> </li>
                        <li> <span style="font-weight: bold;">Complemento:</span> <%= inscrito.complemento %> </li>
                        <li> <span style="font-weight: bold;">Bairro Congregacao:</span> <%= inscrito.bairroCongregacao %>, <%= inscrito.cidade  %> </li>
                        <li> <span style="font-weight: bold;">Líder:</span> <%= inscrito.lider %> </li>                                
                        <li> <span style="font-weight: bold;">Nascimento:</span> <%= inscrito.dataNascimento %> </li>                                
                    </ul>
                </div>
            </div>
        <% }); %>
        </div>
       
    </div>

    <script>
        function buscarPorNome() {
            const nomeBusca = document.getElementById('nomeBusca').value.toLowerCase();
            const cards = document.querySelectorAll('.card');

            cards.forEach((card) => {
                const nomeCard = card.querySelector('.card-header span').textContent.toLowerCase();

                if (nomeCard.includes(nomeBusca)) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            });
        }
    </script>

<%- include ('../partials/footer') %>
