<%- include ('../partials/header') %>
    <%- include ('../partials/navbar') %>


        <div class="m-2" style="overflow: scroll; height: 90vh;">
            <div
                style="display: flex; gap: 50px; flex-direction: row; justify-content: space-between; align-items: center">
                <h2>Inscrições</h2>

                <div style="display: flex; gap: 10px;">
                    <div class="form-group">
                        <small id="helpId" class="form-text text-muted">Pesquisar por nome</small>
                        <input type="text" class="form-control" id="inputPesquisa" name="" aria-describedby="helpId"
                            placeholder="Pesquisar por nome">
                    </div>
                </div>
            </div>

            <table class="table table-responsive w-100" style="width: fit-content; height:fit-content;">
                <thead class="table-dark">
                    <tr>
                        <th style="text-align: center; vertical-align: middle;">#Inscrição</th>
                        <th style="text-align: center; vertical-align: middle;">Situação do pagamento</th>
                        <th style="text-align: center; vertical-align: middle;">Total pagamento</th>
                        <th style="text-align: center; vertical-align: middle;">Desconto</th>
                        <th style="text-align: center; vertical-align: middle;">Nomes</th>
                        <th style="text-align: center; vertical-align: middle;">Link pagamento</th>
                        <th style="text-align: center; vertical-align: middle;">Detalhes</th>
                        <th style="text-align: center; vertical-align: middle;">Apagar</th>
                        <th style="text-align: center; vertical-align: middle;">Aplicar desconto</th>
                    </tr>
                </thead>
                <tbody>
                    <% Object.keys(inscricoes).forEach((codInscricao)=> { %>
                        <tr>
                            <td style="vertical-align: middle;">
                                <%= codInscricao %>
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                <%= inscricoes[codInscricao][0].situacao_pagamento %>
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                R$ <%= inscricoes[codInscricao][0].pagar %>
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                R$ <%= inscricoes[codInscricao][0].desconto %>
                            </td>
                            <td>
                                <ul>
                                    <% inscricoes[codInscricao].forEach((inscricao)=> { %>
                                        <li>
                                            <%= inscricao.nome %>
                                        </li>
                                        <% }); %>
                                </ul>
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                <%= inscricoes[codInscricao][0].link_pagamento %>
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                <a href="/inscritos?cod_inscricao=<%= codInscricao %>"
                                    style="font-size: 2rem; display: flex; align-items: center; justify-content: center;">
                                    <i class="bi bi-folder2-open text-warning p-0 m-0 p-0"
                                        style="border-radius: 5px; background: none; height: min-content;"></i>
                                </a>
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                <a style="color: black; font-size: 1.2rem;" onclick="apagar(<%= codInscricao %>)"">
                                        <i class=" fas fa-trash p-0 m-0 p-0" style="border-radius: 5px; background: none; height: min-content;"></i>
                                </a>
                            </td>

                            <td style="text-align: center; vertical-align: middle;">
                                <a style="color: black; font-size: 1.2rem;" onclick="aplicarDesconto(<%= codInscricao %>)"">
                                        <i class="bi bi-bag-check p-0 m-0 p-0" style="border-radius: 5px; background: none; height: min-content;"></i>
                                </a>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>

        <script>

            function apagar(codInscricao) {
                if (confirm("Deseja Realmente cancelar essa inscrição?")) {
                    var url = "/apagar-inscricao/" + codInscricao;
                    fetch(url)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Erro na solicitação');
                            }
                            return response.json();
                        })
                        .then(data => {
                            window.location.reload(true);
                            alert("Inscrição removida com sucesso!");
                        })
                        .catch(error => {
                            console.error('Erro:', error);
                        });
                }else{
                    window.location.reload(true);
                }
            }

            function aplicarDesconto(codInscricao) {
                if (confirm("Deseja Realmente dar o desconto total a essa inscrição!?")) {
                    var url = "/aprovar-inscricao/" + codInscricao;
                    fetch(url)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Erro na solicitação');
                            }
                            return response.json();
                        })
                        .then(data => {
                            window.location.reload(true);
                            alert("Desconto aplicado com sucesso!");
                        })
                        .catch(error => {
                            console.error('Erro:', error);
                        });
                }else{
                    window.location.reload(true);
                }
            }

            const inputPesquisa = document.getElementById('inputPesquisa');

            // Evento de escuta para a entrada de texto
            inputPesquisa.addEventListener('input', () => {
                const termoPesquisa = inputPesquisa.value.toLowerCase();

                // Percorra as linhas da tabela e oculte aquelas que não correspondem ao termo de pesquisa
                const linhasTabela = document.querySelectorAll('tbody tr');
                linhasTabela.forEach((linha) => {
                    const nomes = linha.querySelectorAll('li');
                    let corresponde = false;
                    nomes.forEach((nome) => {
                        if (nome.textContent.toLowerCase().includes(termoPesquisa)) {
                            corresponde = true;
                        }
                    });
                    linha.style.display = corresponde ? '' : 'none';
                });
            });
        </script>


        <%- include ('../partials/footer') %>