<%- include ('../partials/header') %>
    <%- include ('../partials/navbar') %>

        <body>
            <div class="m-2" style="overflow: scroll; height: 90vh;">
                <h2>Inscrições</h2>
                <table class="table table-bordered table-responsive">
                    <thead class="table-dark">
                        <tr>
                            <th> #Inscrição </th>
                            <th>Situação do pagamento </th>
                            <th>Detalhes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% inscricoes.forEach((inscricao)=> { %>
                            <tr>
                                <td class="m-0">
                                    <%= inscricao.cod_inscricao %>
                                </td>
                                <td class="">
                                    <%= inscricao.situacao_pagamento %>
                                </td>
                                <td>
                                    <a href="/inscritos?cod_inscricao= <%= inscricao.cod_inscricao %>" style="font-size: 2rem; display: flex; align-items: center; justify-content: center; "><i class=" bi bi-folder2-open text-warning p-0 m-0 p-0" style="border-radius: 5px; background: none; height: min-content;"></i></a>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>

            </div>
        </body>
        <%- include ('../partials/footer') %>